// Fonts

$primary-font: 'Source Sans Pro', helvetica, arial, sans-serif;
$heading-font: 'Roboto Condensed', helvetica, arial, sans-serif;

$primary-font-size: 16px + 2px;
$h1-font-size: 4em;
$h2-font-size: 1.25em;
$h3-font-size: 1.125em;

// Colors

$primary-font-color: #333333;
$h1-font-color: #FFFFFF;
$h2-font-color: #FFFFFF;
$h3-font-color: #333333;

$h2-font-bg: #424242;

$link-font-color: #3ac2db;
$link-hover-font-color: #428bca;

$footer-navigation-bg: #F5F5F5;
$footer-container-bg: #2D2D2D;

$footer-font-color: #FFFFFF;

$project-container-bg: #F5F5F5;

$connect-bg-color: #666666;
$twitter-bg-color: #5EAADE;
$linkedin-bg-color: #007BB6;
$google-plus-bg-color: #D0402F;