#profile-picture {

    background: #FFFFFF;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-sizing: border-box;
    padding: 10px;
    width: 89%;
    max-width: 320px;
	
}